
.sem_eventos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.sem_eventos > img {
  height: 180px;
}